// @keyframes scroll {
//   0% {
//     transform: translateY(0);
//   }
//   100% {
//     transform: translateY(-100%);
//   }
// }

// .autoscroll {
//   animation: scroll 5s linear infinite;
// }

.post-row::after {
  content: "";
  display: block;
  height: 1px;
  background-color: slategray;
  margin-top: 20px;
}

.post-row-border:nth-last-child(n + 3) {
  border-bottom: 1px solid gray;
}
