<main
  class="flex-1 py-10 px-5 sm:px-10 lg:min-w-[100vh] h-[100vh] overflow-y-auto max-w-[24.5rem] lg:max-w-[100vh]"
>
  <app-nav-bar></app-nav-bar>

  <div class="mt-9">
    <div class="flex items-center justify-between">
      <!-- Añade una etiqueta <h1> para indicar el encabezado principal de tu página -->
      <h1 class="font-semibold text-gray-700 text-base dark:text-white">
        Película destacada esta noche
      </h1>
    </div>
    <h3 class="mt-4 text-sm text-gray-600">
      La mejor opcion para ver una buena pélicula esta noche en la televisión.
    </h3>
    <app-banner *ngIf="destacada" [data]="destacada"></app-banner>
  </div>

  <section class="mt-9">
    <div class="flex items-center justify-between">
      <!-- Cambia la etiqueta <span> por <h2> para indicar el encabezado secundario de tu página -->
      <h2 class="font-semibold text-gray-700 text-base dark:text-white">
        Películas en Ahora en televisión
      </h2>
      <div class="flex items-center space-x-2 fill-gray-500">
        <svg
          class="h-7 w-7 rounded-full border p-1 hover:border-red-600 hover:fill-red-600 dark:fill-white dark:hover:fill-red-600 cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          (click)="sliderComponent.onPrevClick()"
        >
          <path
            d="M13.293 6.293L7.58 12l5.7 5.7 1.41-1.42 -4.3-4.3 4.29-4.293Z"
          ></path>
        </svg>
        <svg
          class="h-7 w-7 rounded-full border p-1 hover:border-red-600 hover:fill-red-600 dark:fill-white dark:hover:fill-red-600 cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          (click)="sliderComponent.onNextClick()"
        >
          <path
            d="M10.7 17.707l5.7-5.71 -5.71-5.707L9.27 7.7l4.29 4.293 -4.3 4.29Z"
          ></path>
        </svg>
      </div>
    </div>
    <!-- Añade una etiqueta <p> para indicar el párrafo de texto de tu página -->
    <p class="“mt-4" class="text-sm text-gray-600">
      ¿Te apetece ver una buena película en la tele? En nuestra web te ofrecemos
      una guía completa de las mejores películas en TV hoy, para que no te
      pierdas nada de lo que se está emitiendo en los canales más vistos.
      Tenemos películas para todos los gustos y edades, desde comedias que te
      harán reír hasta thrillers que te mantendrán en vilo, pasando por dramas,
      romances, acción y mucho más. Además, te mostramos las películas más
      populares, las más galardonadas y las más valoradas por la crítica, para
      que puedas disfrutar de la mejor calidad cinematográfica. Con nuestra
      selección de películas en TV hoy, solo tienes que elegir la que más te
      guste y prepararte para pasar un buen rato.
    </p>
    <div class="mt-4 text-sm text-gray-600">
      <app-slider #sliderComponent [programas]="en_emision"></app-slider>
    </div>
  </section>

  <section class="mt-9">
    <div class="flex items-center justify-between">
      <!-- Cambia la etiqueta <span> por <h2> para indicar el encabezado secundario de tu página -->
      <h2 class="font-semibold text-gray-700 text-base dark:text-white">
        Todas las Películas en televisión hoy
      </h2>
      <div class="flex items-center space-x-2 fill-gray-500">
        <svg
          class="h-7 w-7 rounded-full border p-1 hover:border-red-600 hover:fill-red-600 dark:fill-white dark:hover:fill-red-600 cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          (click)="sliderComponent.onPrevClick()"
        >
          <path
            d="M13.293 6.293L7.58 12l5.7 5.7 1.41-1.42 -4.3-4.3 4.29-4.293Z"
          ></path>
        </svg>
        <svg
          class="h-7 w-7 rounded-full border p-1 hover:border-red-600 hover:fill-red-600 dark:fill-white dark:hover:fill-red-600 cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          (click)="sliderComponent.onNextClick()"
        >
          <path
            d="M10.7 17.707l5.7-5.71 -5.71-5.707L9.27 7.7l4.29 4.293 -4.3 4.29Z"
          ></path>
        </svg>
      </div>
    </div>
    <!-- Añade una etiqueta <p> para indicar el párrafo de texto de tu página -->
    <p class="mt-4 text-sm text-gray-600">
      Si te gustan las películas, no te pierdas nuestra selección de las mejores
      películas que se emiten hoy en la televisión. Podrás ver películas de
      todos los géneros y para todos los gustos, desde comedias hasta thrillers,
      pasando por dramas, romances, acción y más. Disfruta de las películas más
      taquilleras, las más premiadas y las más aclamadas por la crítica en los
      canales de televisión más populares. Con nuestro listado de películas en
      TV hoy podrás elegir la que más te apetezca ver y no perderte ningún
      detalle.
    </p>
    <div class="mt-4 text-sm text-gray-600">
      <app-slider #sliderComponent [programas]="peliculas"></app-slider>
    </div>
  </section>

  <section *ngFor="let cat of categorias" class="">
    <div class="flex items-center justify-between">
      <!-- Cambia la etiqueta <span> por <h2> para indicar el encabezado secundario de tu página -->
      <h2 class="font-semibold text-gray-700 text-base dark:text-white">
        Películas {{ cat }} en TV hoy
      </h2>
      <div class="flex items-center space-x-2 fill-gray-500">
        <svg
          class="h-7 w-7 rounded-full border p-1 hover:border-red-600 hover:fill-red-600 dark:fill-white dark:hover:fill-red-600 cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          (click)="sliderComponent1.onPrevClick()"
        >
          <path
            d="M13.293 6.293L7.58 12l5.7 5.7 1.41-1.42 -4.3-4.3 4.29-4.293Z"
          ></path>
        </svg>
        <svg
          class="h-7 w-7 rounded-full border p-1 hover:border-red-600 hover:fill-red-600 dark:fill-white dark:hover:fill-red-600 cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          (click)="sliderComponent1.onNextClick()"
        >
          <path
            d="M10.7 17.707l5.7-5.71 -5.71-5.707L9.27 7.7l4.29 4.293 -4.3 4.29Z"
          ></path>
        </svg>
      </div>
    </div>
    <!-- Añade una etiqueta <p> para indicar el párrafo de texto de tu página -->

    <div class="mt-4 text-sm text-gray-600">
      <app-slider
        #sliderComponent1
        [programas]="getPeliculasByCategory(cat)"
      ></app-slider>
    </div>
  </section>
</main>
