<main
  class="flex-1 py-10 px-5 sm:px-10 max-w-[100vh] h-[100vh] overflow-y-auto lg:min-w-[100vh]"
>
  <section>
    <app-nav-bar></app-nav-bar>

    <div class="mt-9">
      <div class="flex items-center justify-between">
        <span class="font-semibold text-gray-700 text-base dark:text-white"
          >Descubre las peliculas y series destacadas hoy en televisión</span
        >
      </div>
    </div>
  </section>

  <section class="mt-9">
    <div class="flex items-center justify-between">
      <span class="font-semibold text-gray-700 text-base dark:text-white"
        >Mejores Peliculas y Series</span
      >
    </div>
    <div class="mt-4 text-sm text-gray-600">
      Listado de las mejores películas hoy en televisión
    </div>
  </section>

  <section class="mt-9">
    <nav class="flex space-x-6 text-gray-400 font-medium justify-center">
      <a
        (click)="isPelicula = true; isSerie = false; getPeliculasDestacadas()"
        class="hover:text-gray-700 dark:hover:text-white font-semibold cursor-pointer"
        [ngClass]="{
          'text-gray-700 dark:text-white border-b-2 border-red-600': isPelicula
        }"
        >Películas Destacadas</a
      >
      <a
        (click)="isPelicula = false; isSerie = true; getSeriesDestacadas()"
        class="dark:hover:text-white font-semibold cursor-pointer"
        [ngClass]="{
          'text-gray-700 dark:text-white border-b-2 border-red-600': isSerie
        }"
        >Series Destacadas</a
      >
    </nav>
  </section>

  <section>
    <div *ngFor="let destacada of destacados" class="">
      <app-banner *ngIf="destacada" [data]="destacada"></app-banner>
    </div>
  </section>
</main>
