@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Importa la tipografía de HBO */

:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

::ng-deep .p-menubar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2em;
  padding: 0 1em;
  background-color: #3a3a3a !important; /* Fondo más claro */
  font-family: 'Roboto', sans-serif !important; /* Aplica la tipografía de HBO */
}

::ng-deep .p-menubar-root-list {
  display: flex;
  align-items: center;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #ffffffd9;
}

::ng-deep .p-menuitem {
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #ffffff !important; /* Letras en blanco */
  font-weight: bold !important; /* Letras más gruesas */
}

::ng-deep .p-menuitem-link .pi {
  color: #ffffff !important; /* Íconos en blanco */
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 1em;
}

@media screen and (max-width: 600px) {
  ::ng-deep .p-menubar {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  ::ng-deep .p-element {
    min-width: -webkit-fill-available;
    color: #3a3a3a!important;
  }

  ::ng-deep .p-menubar-button {
    padding: 35px;
  }
  ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: #3a3a3a;
  }
  ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
    color: #3a3a3a !important;
  }

  ::ng-deep .pi-bars:before {
    font-size: 2em;
    color: #ffffff;
  }

  ::ng-deep .p-menubar .p-menubar-button:hover {
    color: #6c757d;
    background: none;
  }

  .logo {
    width: 100px;
    height: 50px;
    margin-right: 1em;
    margin-top: 10px;
  }

  /* Estilos personalizados para la barra de menú */
  :host ::ng-deep {
    .p-menubarsub-mobile-active {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
      transition: background-color 0.3s ease;
    }

    .p-menubarsub-mobile-active ul {
      position: fixed;
      top: 0;
      left: 0;
      width: 70%;
      height: 100%;
      background-color: #fff;
      z-index: 1001;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      overflow-y: auto;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }

    .p-menubarsub-mobile-active ul.p-menubar-root-list-active {
      transform: translateX(0);
    }

    .p-menubarsub-mobile-active ul li {
      display: block;
      border-bottom: 1px solid #ccc;
      margin: 0;
      padding: 10px;
    }

    .p-menubarsub-mobile-active ul li:last-child {
      border-bottom: none;
    }

    .p-menubarsub-mobile-active ul li a {
      display: block;
      font-size: 16px;
      color: #333;
      text-decoration: none;
      transition: color 0.3s ease;
    }

    .p-menubarsub-mobile-active ul li a:hover {
      color: #1e88e5;
    }

    .p-menubarsub-mobile-active ul li a .p-menuitem-text {
      margin-left: 10px;
    }

    .p-menubarsub-mobile-active ul li a .p-menuitem-icon {
      margin-right: 10px;
    }
  }

}
