.header {
  /* Estilos de la cabecera normal */
  transition: transform 0.3s ease-in-out;
}

.header-fixed {
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  /* Estilos adicionales para la cabecera fija */
}
