<swiper-container
  #swiperRef
  slides-per-view="4"
  space-between="5"
  breakpoints='{
    "320": {"slidesPerView": 2, "spaceBetween": 5},
    "480": {"slidesPerView": 3, "spaceBetween": 5},
    "640": {"slidesPerView": 4, "spaceBetween": 5}
  }'
>
  <swiper-slide *ngFor="let program of programas; index as i">
    <div
      class="relative group cursor-pointer rounded-xl overflow-hidden"
      (click)="manageData(program)"
    >
      <img
        *ngIf="program?.channel"
        class="object-cover w-full h-full -z-10"
        src="https://wsrv.nl/?url={{ program?.icon }}&w=300&h=300"
        alt="{{ program?.name || program?.title?.value }}"
        loading="lazy"
        width="100%"
        height="100%"
      />
      <img
        *ngIf="!program?.channel"
        class="object-cover w-full h-full -z-10"
        src="https://wsrv.nl/?url=https://raw.githubusercontent.com/davidmuma/picons_dobleM/master/icon/{{
          program?.name
        }}.png&w=300&h=300"
        alt="{{ program?.name || program?.title?.value }}"
        loading="lazy"
        width="100%"
        height="100%"
      />

      <div
        class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between"
      >
        <div class="flex justify-between items-center w-full">
          <div class="flex items-center">
            <img
              *ngIf="logo !== ''"
              class="object-cover w-10 h-10"
              src="{{ logo }}"
              alt="{{ program?.name || program?.title?.value }}"
              loading="lazy"
              width="100%"
              height="100%"
            />
            <span
              *ngIf="logo === ''"
              class="text-white ml-2 p-2.5 bg-gray-800/80 rounded-lg"
            >
              {{ program?.channel || program?.name }}
            </span>
          </div>
        </div>
      </div>

      <div class="self-center flex flex-col items-center space-y-1">
        <h3
          *ngIf="program?.title?.value"
          class="capitalize text-white font-medium drop-shadow-md overflow-hidden whitespace-nowrap text-overflow-ellipsis"
          style="max-width: 200px"
        >
          {{ program?.title?.value }}
        </h3>

        <p *ngIf="program?.title?.value" class="text-white">
          {{ horaInicio(i) }}
        </p>
      </div>

      <div
        *ngIf="!program?.title?.value"
        class="self-center flex flex-col items-center space-y-2"
      >
        <h3 class="capitalize text-white font-medium drop-shadow-md">
          {{ program?.name }}
        </h3>
      </div>

      <div
        *ngIf="!program?.name"
        class="capitalize text-white font-medium drop-shadow-md"
      >
      </div>
    </div>
  </swiper-slide>
</swiper-container>