<div class="canal-programacion">
  <div class="cabecera-canal">
    <img src="{{canalLogo}}" alt="{{canalName}} Logo">
    <h1>Programación TV {{canalName}}</h1>
  </div>
  <nav class="dia-seleccion">
    <button class="dia-boton"
            [ngClass]="{ 'dia-boton-seleccionado': diaSeleccionado === 'ayer' }"
            (click)="cambiarDia('ayer')"
            aria-label="Programación de ayer">Ayer
    </button>
    <button class="dia-boton"
            [ngClass]="{ 'dia-boton-seleccionado': diaSeleccionado === 'hoy' }"
            (click)="cambiarDia('hoy')"
            aria-label="Programación de hoy">Hoy
    </button>
    <button class="dia-boton"
            [ngClass]="{ 'dia-boton-seleccionado': diaSeleccionado === 'mañana' }"
            (click)="cambiarDia('mañana')"
            aria-label="Programación de mañana">Mañana</button>
  </nav>
  <section class="lista-programas">
    <article class="programa" *ngFor="let programa of programas">
      <time class="programa-hora">{{programa.inicio}}</time>
      <h2 class="programa-titulo">{{programa.nombre}}</h2>
      <span class="programa-tipo">{{programa.tipo}}</span>
      <p class="programa-descripcion">{{programa.des_programa}}</p>
    </article>
  </section>
</div>
