<main
  class="flex-1 py-10 px-5 sm:px-10 max-w-[100vh] h-[100vh] overflow-y-auto lg:min-w-[100vh]"
>
  <section>
    <app-nav-bar></app-nav-bar>

    <div class="mt-9">
      <div class="flex items-center justify-between">
        <span class="font-semibold text-gray-700 text-base dark:text-white"
          >Top 10 Películas y Series</span
        >
      </div>
    </div>
    <app-banner *ngIf="destacada" [data]="destacada"></app-banner>
  </section>

  <!-- SECCION PARA LAS CARDS DEL BLOG -->
  <div class="section py-8 md:py-12 lg:py-16 xl:py-20 2xl:py-24 t">
    <div class="lg:mx-40 mx-4">
      <!-- Agregamos la clase mx-4 para el margen horizontal -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4"
      ></div>
      <!--end col-->
    </div>
  </div>
</main>
