<div
  class="flex flex-col justify-between mt-4 bg-black/10 bg-blend-multiply rounded-3xl h-80 overflow-hidden bg-cover bg-center px-7 pt-4 pb-6 text-white"
  [style.backgroundImage]="'url(' + 'https://wsrv.nl/?url=' + data?.icon + ')'"
  [style.backgroundSize]="'cover'"
  [style.backgroundPosition]="'center'"
  [style.loading]="'lazy'"
>
  <!-- <img class="object-cover w-full h-full" src="images/inception.jpg" alt=""> -->

  <div class="flex -space-x-1 items-center pointer justify-between">
    <div class="flex -space-x-1 items-center pointer">
      <img
        class="w-32 h-16 bg-gray-800/40 rounded-lg px-1.5"
        src="https://wsrv.nl/?url=https://raw.githubusercontent.com/davidmuma/picons_dobleM/master/icon/{{
          data.channel
        }}.png"
        alt=""
        srcset=""
        loading="lazy"
      />
      <span class="pl-4 text-xs drop-shadow-lg">{{ data?.channel }}</span>
    </div>

    <span class="pl-4 text-lg p-2.5 bg-gray-800/50 rounded-lg">{{
      getHora(data?.start) + " - " + getHora(data?.stop)
    }}</span>
    <!-- en directo -->
  </div>

  <div
    class="bg-gradient-to-r from-black/30 to-transparent -mx-7 -mb-6 px-7 pb-6 pt-2"
  >
    <span class="uppercase text-3xl font-semibold drop-shadow-lg">{{
      data?.title?.value
    }}</span>

    <!-- <span class="text-xs text-gray-200 mt-2"> Título Original: </span> -->
    <ul class="flex list-disc lista">
      <li class="pr-6">{{ data?.desc?.year }}</li>
      <li class="pr-6">{{ data?.desc?.rate }}</li>
      <li class="">{{ time }}</li>
    </ul>

    <div class="text-xs text-gray-200 mt-2">
      <a
        *ngFor="let data of data?.desc?.details.split(',')"
        href="#"
        class=""
        >{{ data }}</a
      >
    </div>

    <div class="mt-4 flex space-x-3 items-center">
      <a
        (click)="navigateTo()"
        class="px-5 py-2.5 bg-red-600 hover:bg-red-700 rounded-lg text-xs inline-block cursor-pointer"
        >Más Detalles</a
      >
      <a
        href="#"
        class="px-4 py-2.5 bg-gray-800/80 rounded-lg hover:bg-red-600"
      >
        <div class="flex">
          <span class="text-xs pr-1">Recordar</span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>
