<main
  class="flex-1 py-10 px-5 sm:px-10 max-w-full lg:h-[100vh] lg:overflow-y-auto min-h-full flex-grow"
>
  <app-nav-bar></app-nav-bar>

  <section class="lg:overflow-hidden border-b border-b-slate-400">
    <div class="mt-9">
      <div class="m-auto max-w-[1548px] lg:mx-10 my-0 w-full">
        <div class="flex flex-col md:flex-row justify-between w-full">
          <div
            class="py-4 lg:py-28 lg:px-4 lg:w-[47%] w-full order-2 lg:order-1"
          >
            <h2
              class="font-semibold text-gray-700 text-3xl lg:text-4xl dark:text-white mb-6"
            >
              Cine, Series y Anime: El Blog que te Cuenta Todo lo que Quieres
              Saber
            </h2>
            <p class="font-medium text-xl lg:text-xl">
              ¿Te apasiona el mundo del cine, las series y el anime? ¿Quieres
              estar al día de las últimas novedades, críticas, curiosidades y
              recomendaciones? Entonces este es tu blog. Aquí encontrarás
              artículos de calidad sobre todos los géneros, estilos y formatos
              que te interesan, escritos por expertos y aficionados como tú.
            </p>
            <a
              href="#"
              class="block text-center bg-red-600 w-60 text-white border-0 py-2 px-6 rounded-full focus:outline-none hover:bg-red-600 text-lg mt-10"
              >Leer Más</a
            >
          </div>
          <div class="lg:w-[53%] lg:h-[65vh] h-40 flex order-1 lg:order-2">
            <div class="overflow-y-hidden autoscroll">
              @for( image of post_list; track image){
              <div class="mb-8 rounded-lg max-w-xs lg:h-96 lg:w-52 mr-2">
                <img
                  class="object-cover w-full h-full max-w-lg rounded-lg"
                  [src]="image.featured_image?.source_url"
                  alt=""
                />
              </div>
              }
            </div>
            <div class="overflow-y-hidden autoscroll1">
              @for( image of post_list; track image){
              <div class="mb-8 rounded-lg max-w-xs lg:h-96 lg:w-52">
                <img
                  class="object-cover w-full h-full max-w-lg rounded-lg"
                  [src]="image.featured_image?.source_url"
                  alt=""
                />
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SECCION CENTRAL CON LAS CATEGORIAS DEL BLOG -->
  <section class="pt-9">
    @for( cat of categories; track cat){
    <div class="flex justify-between py-20">
      <div class="">
        <a href="#">
          <h3 class="text-black font-bold text-4xl">
            Articulos de {{ cat.name }}
          </h3>
        </a>
      </div>
      <div class="">
        <a href="">
          <span class="text-gray-400 text-sm pr-2">Más de la categoria</span>
          <span class="text-gray-400 text-sm">&#8594;</span></a
        >
      </div>
    </div>
    <div class="mt-4 grid grid-cols-2 sm:grid-cols-3 gap-x-5 gap-y-5 relative">
      @for(post of data_slider .slice(index_section,index_section + offset);
      track post){ @if(post.categories_name[0].name == cat.name){
      <app-post-card [data]="post"></app-post-card>

      }
      <button
        class="top-28 bg-[#fdfdfd] shadow-md h-16 w-16 absolute z-10 rounded-full -left-5 text-2xl text-black"
        (click)="_prev()"
      >
        &#8592;
      </button>
      <button
        class="top-28 bg-[#fdfdfd] shadow-md h-16 w-16 absolute z-10 rounded-full -right-5 text-2xl text-black"
        (click)="_next()"
      >
        &#8594;
      </button>
      }
    </div>
    }
  </section>

  <!-- SECCION PARA ULTIMOS POSTS PUBLICADOS -->
  <section class="mt-14">
    <div class="flex justify-between">
      <div class="">
        <a href="#">
          <h3 class="text-2xl text-black font-bold">Lo último añadido</h3>
        </a>
      </div>
      <div class="">
        <a href="">
          <span class="text-gray-400 text-sm pr-2"></span>
          <span class="text-gray-400 text-sm">&#8594;</span></a
        >
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-12 mt-8">
      @for(post of post_list.slice(0,show_more); track post){
      <app-post-card-last [data]="post"></app-post-card-last>
      }
    </div>

    <div class="flex items-center justify-center mt-8">
      @if(show_more <= post_list.length){
      <a
        (click)="showMore()"
        class="py-2 px-3 text-white bg-red-600 rounded-full cursor-pointer"
        >Ver Más</a
      >
      }
    </div>
  </section>
  <section
    class="lg:mt-20 bg-[#f8f8f8] h-[40vh] flex justify-center items-center px-3 rounded-md w-full"
  >
    <div class="h-[20vh] flex flex-col md:flex-row">
      <div class="flex flex-col justify-center">
        <h3 class="text-xl text-black font-bold mb-5">
          Suscribete para más contenido
        </h3>
        <p class="lg:mb-8 font-medium text-gray-500 text-lg">
          Suscríbete a nuesta news letter para mayor contenido de la osita
        </p>
        <a
          href="#"
          class="block text-center bg-red-600 w-60 text-white border-0 py-2 px-6 rounded-full focus:outline-none hover:bg-red-600 text-lg mt-10 mb-5"
          >Suscribete</a
        >
      </div>
      <div class="h-[20vh] flex pt-5">
        <div class="overflow-y-hidden autoscroll">
          @for( image of post_list; track image){
          <div class="mb-8 rounded-lg max-w-xs h-96 lg:w-52 mr-2">
            <img
              class="object-cover w-full lg:h-full max-w-lg rounded-lg"
              [src]="image?.featured_image?.source_url"
              alt=""
              onload="this.parentNode.style.height = '0';"
            />
          </div>
          }
        </div>
        <div class="overflow-y-hidden autoscroll1">
          @for( image of post_list;track image){
          <div class="mb-8 rounded-lg max-w-xs h-96 lg:w-52">
            <img
              class="object-cover w-full lg:h-full max-w-lg rounded-lg"
              [src]="image?.featured_image?.source_url"
              alt=""
              onload="this.parentNode.style.height = '0';"
            />
          </div>
          }
        </div>
      </div>
    </div>
  </section>
</main>
