.active-link {
  background-color: #f5f5f5;
  color: #000;
  font-weight: bold;
  border-right-width: 3px;
  --tw-border-opacity: 1;
  border-right-color: rgb(220 38 38 / var(--tw-border-opacity)) !important;
}

.active-icon {
  fill: #dc2626;
}
